In [17]:
import os
import pandas as pd
os.chdir('/proj/regeps/regep00/studies/TopMed/data/dna/whole_genome/TopMed/data/freezes/freeze.10.cdnm/')

## Wonji's List from Freeze.8

In [2]:
freeze8 = pd.read_csv('/proj/edith/regeps/regep00/studies/COPDGene/analyses/rewki/Concordance/freeze8/Output/Clean_NWD_freeze8_20201118.csv')
freeze8

      Unnamed: 0     sid     nwd_id
0              1  12533Z  NWD100517
1              2  13735Q  NWD100956
2              3  13657W  NWD103686
3              4  12966E  NWD104204
4              5  14897V  NWD103875
...          ...     ...        ...
9751        9752  21425X  NWD999419
9752        9753  22739Z  NWD998867
9753        9754  22862Y  NWD999384
9754        9755  24060Y  NWD997985
9755        9756  25124D  NWD999840

[9756 rows x 3 columns]

## The Multiomics AnnotatedManifest

In [3]:
multiomics = pd.read_csv('/proj/regeps/regep00/studies/TopMed/data/dna/whole_genome/TopMed/data/freezes/freeze.10.cdnm/multiomics/GECOPD/ANNOTATED_MANIFEST.csv')
multiomics

/udd/rejpz/.conda/envs/cdnm-jupyter-python-3.7.6/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (3,10,11,12,14,15,16,18,19,20,24,25,26,30,31,33,34,37,38,39,42,46,51,53,57,58,59,60,61,62,63,64,71,72,74,77,78,79,80,81,82,84,92) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Unnamed: 0.1,SampleLabel,S_SAMPLEID_manifest,SampleAlias,SampleTypeCode,dataset_id,is_reference,S_SUBJECTID,S_SAMPLEID,...,u_packageid,ExpectedGender,ObservedGender,flags,group_id,c_group,action_overridden,status,action_overridden.1,action
0,0,0,NWD100018,NaN,NWD100018,w,0,0,ST-01000557,S-001174464,...,NaN,M,M,;unexpected_geno_nomatch,7195,0,keep,NaN,NaN,NaN
1,1,1,NWD100059,NaN,NWD100059,w,0,0,ST-00033813,S-000554104,...,NaN,M,F,cross_subject_match;gender_mismatch;unexpected...,945,1,keep,NaN,NaN,reassign
2,2,2,NWD100095,NaN,NWD100095,w,0,0,ST-00075744,S-000964706,...,NaN,F,F,NaN,3389,2,keep,NaN,NaN,NaN
3,3,3,NWD100109,NaN,NWD100109,w,0,0,ST-00078957,S-001558939,...,NaN,F,F,NaN,6570,3,keep,NaN,NaN,NaN
4,4,4,NWD100230,NaN,NWD100230,w,0,0,ST-00077474,S-001557255,...,NaN,F,F,NaN,5098,4,keep,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37574,37574,37574,S-001644042_accepted_hits.sorted.bam,S-001644042,S-001644042_accepted_hits.sorted.bam,r,4,0,ST-01024867,S-001644042,...,NaN,M,NaN,observed_gender_missing,10632,1912,keep,NaN,NaN,NaN
37575,37575,37575,S-001644043_accepted_hits.sorted.bam,S-001644043,S-001644043_accepted_hits.sorted.bam,r,4,0,ST-01024865,S-001644043,...,NaN,M,NaN,observed_gender_missing,10630,8610,keep,NaN,NaN,NaN
37576,37576,37576,S-001644044_accepted_hits.sorted.bam,S-001644044,S-001644044_accepted_hits.sorted.bam,r,4,0,ST-01024872,S-001644044,...,NaN,M,NaN,observed_gender_missing,10635,3547,keep,NaN,NaN,NaN
37577,37577,37577,S-001648029_CGGCGTGA-GCGCCTGT_L003_accepted_hi...,S-001648029,S-001648029_CGGCGTGA-GCGCCTGT_L003_accepted_hi...,r,4,0,ST-01002733,S-001648029,...,NaN,F,F,NaN,8040,1823,keep,NaN,NaN,NaN
37578,37578,37578,S-001648324_CTCTCGTC-TATAACCT_L002_accepted_hi...,S-001648324,S-001648324_CTCTCGTC-TATAACCT_L002_accepted_hi...,r,4,0,ST-01007272,S-001648324,...,NaN,M,M,NaN,9886,2617,keep,NaN,NaN,NaN

In [4]:
multiomics['flags'].value_counts()

;unexpected_geno_nomatch                                                     1367
;cross_subject_match;unexpected_geno_nomatch                                  549
observed_gender_missing                                                       284
;cross_subject_match                                                          233
cross_subject_match;gender_mismatch;unexpected_geno_nomatch                    61
gender_mismatch                                                                30
observed_gender_indeterminate                                                  23
cross_subject_match;gender_mismatch                                            15
gender_mismatch;unexpected_geno_nomatch                                        10
expected_gender_unknown                                                         9
observed_gender_missing;unexpected_geno_nomatch                                 9
cross_subject_match;observed_gender_indeterminate;unexpected_geno_nomatch       4
observed_gender_indeterminate;unexpected_geno_nomatch                           3
cross_subject_match;observed_gender_missing                                     2
cross_subject_match;observed_gender_missing;unexpected_geno_nomatch             2
Name: flags, dtype: int64

## The Multiomics Group Metadata

In [5]:
#participants = pd.read_csv('/proj/regeps/regep00/studies/TopMed/data/dna/whole_genome/TopMed/data/freezes/freeze.10.cdnm/multiomics/GECOPD/subject_annotations.csv')
groups = pd.read_csv('/proj/regeps/regep00/studies/TopMed/data/dna/whole_genome/TopMed/data/freezes/freeze.10.cdnm/multiomics/GECOPD/groups_with_metadata.csv')
groups

       group_id      S_SUBJECTID  S  N        c_group  C
0             0  ['ST-00007399']  2  1         [1408]  1
1             1  ['ST-00007400']  6  1         [5464]  1
2             2  ['ST-00007401']  3  1         [7852]  1
3             3  ['ST-00007402']  4  1         [9961]  1
4             4  ['ST-00007403']  2  1          [305]  1
...         ...              ... .. ..            ... ..
10429     10689  ['ST-01025657']  2  1         [3366]  1
10430     10690  ['ST-01025778']  3  1  [ 7559 37263]  2
10431     10691  ['ST-01025779']  3  1         [5184]  1
10432     10692  ['ST-01025780']  2  1         [4550]  1
10433     10693  ['ST-01026226']  3  1         [8758]  1

[10434 rows x 6 columns]

In [6]:
f8_annotated = freeze8.merge(multiomics, left_on='nwd_id', right_on='SampleLabel', how='left')
f8_annotated = f8_annotated.merge(groups, on='group_id', how='left', suffixes=(None, '_participant'))
f8_annotated

,Unnamed: 0_x,sid,nwd_id,Unnamed: 0_y,Unnamed: 0.1,SampleLabel,S_SAMPLEID_manifest,SampleAlias,SampleTypeCode,dataset_id,...,c_group,action_overridden,status,action_overridden.1,action,S_SUBJECTID_participant,S,N,c_group_participant,C
0,1,12533Z,NWD100517,9.0,9.0,NWD100517,NaN,NWD100517,w,0.0,...,9.0,keep,NaN,NaN,NaN,['ST-00074631'],5.0,1.0,[9],1.0
1,2,13735Q,NWD100956,13.0,13.0,NWD100956,NaN,NWD100956,w,0.0,...,13.0,keep,NaN,NaN,NaN,['ST-01007258'],4.0,1.0,[13],1.0
2,3,13657W,NWD103686,53.0,53.0,NWD103686,NaN,NWD103686,w,0.0,...,53.0,keep,NaN,NaN,NaN,['ST-00074396'],3.0,1.0,[53],1.0
3,4,12966E,NWD104204,64.0,64.0,NWD104204,NaN,NWD104204,w,0.0,...,64.0,keep,NaN,NaN,NaN,['ST-00078070'],2.0,1.0,[64],1.0
4,5,14897V,NWD103875,57.0,57.0,NWD103875,NaN,NWD103875,w,0.0,...,57.0,keep,NaN,NaN,NaN,['ST-01007092'],2.0,1.0,[57],1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9751,9752,21425X,NWD999419,10717.0,10717.0,NWD999419,NaN,NWD999419,w,0.0,...,10717.0,keep,NaN,NaN,NaN,['ST-00079011'],5.0,1.0,[10717],1.0
9752,9753,22739Z,NWD998867,10710.0,10710.0,NWD998867,NaN,NWD998867,w,0.0,...,10710.0,keep,NaN,NaN,NaN,['ST-01005056'],3.0,1.0,[10710],1.0
9753,9754,22862Y,NWD999384,10716.0,10716.0,NWD999384,NaN,NWD999384,w,0.0,...,10716.0,keep,NaN,NaN,NaN,['ST-01005228'],3.0,1.0,[10716],1.0
9754,9755,24060Y,NWD997985,10699.0,10699.0,NWD997985,NaN,NWD997985,w,0.0,...,10699.0,keep,NaN,NaN,NaN,['ST-01000636'],3.0,1.0,[10699],1.0
9755,9756,25124D,NWD999840,10721.0,10721.0,NWD999840,NaN,NWD999840,w,0.0,...,10721.0,keep,NaN,NaN,NaN,['ST-01003339'],5.0,1.0,[10721],1.0

## Samples in Freeze.8 that are not in Freeze.10

In [7]:
f8_annotated[f8_annotated['SampleAlias'].isna()]

,Unnamed: 0_x,sid,nwd_id,Unnamed: 0_y,Unnamed: 0.1,SampleLabel,S_SAMPLEID_manifest,SampleAlias,SampleTypeCode,dataset_id,...,c_group,action_overridden,status,action_overridden.1,action,S_SUBJECTID_participant,S,N,c_group_participant,C
276,277,25081L,NWD176102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,343,16645E,NWD195503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
626,627,17759Y,NWD272247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
955,956,13872A,NWD370479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1050,1051,13251U,NWD402617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1492,1493,10258T,NWD523023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2054,2055,20346W,NWD671189,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2239,2240,14750R,NWD723698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2745,2746,19160V,NWD863053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2764,2765,25424P,NWD866813,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2808,2809,10902U,NWD881460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3213,3214,17694W,NWD993624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3680,3681,17084V,NWD162119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3814,3815,10422G,NWD180924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3870,3871,12395N,NWD188550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3998,3999,21576S,NWD199411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4236,4237,24390T,NWD231864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4698,4699,17022Z,NWD302526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5009,5010,24807A,NWD342989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5230,5231,18224Q,NWD376669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5990,5991,17530S,NWD481157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6276,6277,24098X,NWD514324,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7040,7041,10102O,NWD625703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7585,7586,16452T,NWD700427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8459,8460,24584G,NWD812158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8881,8882,10226G,NWD882381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9529,9530,17924N,NWD968111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Samples that were Flagged

In [8]:
f8_annotated[f8_annotated['flags'].notna()].groupby('flags').size()

flags
;cross_subject_match                                                          61
;cross_subject_match;unexpected_geno_nomatch                                 123
;unexpected_geno_nomatch                                                     624
cross_subject_match;gender_mismatch;unexpected_geno_nomatch                   15
cross_subject_match;observed_gender_indeterminate;unexpected_geno_nomatch      3
observed_gender_indeterminate                                                 14
observed_gender_indeterminate;unexpected_geno_nomatch                          1
dtype: int64

In [15]:
f8_annotated['flags'].fillna('', inplace=True)
cross_subject_matches = f8_annotated[f8_annotated['flags'].str.contains('cross_subject_match')]
cross_subject_matches

,Unnamed: 0_x,sid,nwd_id,Unnamed: 0_y,Unnamed: 0.1,SampleLabel,S_SAMPLEID_manifest,SampleAlias,SampleTypeCode,dataset_id,...,c_group,action_overridden,status,action_overridden.1,action,S_SUBJECTID_participant,S,N,c_group_participant,C
14,15,22276L,NWD103119,46.0,46.0,NWD103119,NaN,NWD103119,w,0.0,...,46.0,keep,NaN,NaN,NaN,['ST-01006876' 'ST-00074904'],10.0,2.0,[ 46 8112],2.0
75,76,10137H,NWD122330,293.0,293.0,NWD122330,NaN,NWD122330,w,0.0,...,293.0,keep,NaN,NaN,NaN,['ST-00075665' 'ST-00075025' 'ST-00075027' 'ST...,29.0,6.0,[ 293 927 1579 5162 6090 7527],6.0
88,89,21503R,NWD122335,294.0,294.0,NWD122335,NaN,NWD122335,w,0.0,...,294.0,keep,NaN,NaN,NaN,['ST-00074320' 'ST-01003072' 'ST-00074673' 'ST...,18.0,4.0,[ 294 3794 3819 4359],4.0
272,273,20091P,NWD174689,920.0,920.0,NWD174689,NaN,NWD174689,w,0.0,...,920.0,keep,NaN,NaN,NaN,['ST-00077944' 'ST-00075017' 'ST-00079254' 'ST...,39.0,8.0,[ 920 1889 3119 4517 5680 6816 8411 9815],8.0
399,400,20148S,NWD210782,1363.0,1363.0,NWD210782,NaN,NWD210782,w,0.0,...,1363.0,keep,NaN,NaN,NaN,['ST-01006872' 'ST-01002708'],9.0,2.0,[1363 2173],2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585,9586,20549K,NWD974645,10426.0,10426.0,NWD974645,NaN,NWD974645,w,0.0,...,10426.0,keep,NaN,NaN,NaN,['ST-00075602' 'ST-00078657' 'ST-00076296'],13.0,3.0,[ 5303 8076 10426],3.0
9631,9632,11724B,NWD985933,10564.0,10564.0,NWD985933,NaN,NWD985933,w,0.0,...,10564.0,keep,NaN,NaN,NaN,['ST-00007814' 'ST-00007802'],10.0,2.0,[ 533 10564 33699 34639],4.0
9636,9637,14159L,NWD985616,10560.0,10560.0,NWD985616,NaN,NWD985616,w,0.0,...,2229.0,keep,NaN,drop,NaN,['ST-00037405' 'ST-00080137' 'ST-00073520' 'ST...,154.0,34.0,[ 24 25 127 128 263 264 640 6...,37.0
9726,9727,16699B,NWD997091,10693.0,10693.0,NWD997091,NaN,NWD997091,w,0.0,...,10693.0,keep,NaN,NaN,NaN,['ST-00036759' 'ST-00078674' 'ST-00076000' 'ST...,54.0,11.0,[ 480 1284 1882 1914 2697 3895 6093 66...,11.0
9731,9732,18665U,NWD992598,10646.0,10646.0,NWD992598,NaN,NWD992598,w,0.0,...,10646.0,keep,NaN,NaN,NaN,['ST-00075188' 'ST-00032654'],9.0,2.0,[ 9506 10646],2.0

In [18]:
# cross_subject_matches.to_csv('tmp/freeze.8_cross_subject_matches.csv', index=False)

In [21]:
## Integrate concordance data for these samples ...
c_data = pd.read_csv('/proj/regeps/regep00/studies/TopMed/data/dna/whole_genome/TopMed/data/freezes/freeze.10.cdnm/multiomics/GECOPD/c_data.build_sample_groups')
c_data = c_data[(c_data['expected'] == 0) & (c_data['observed'] == 1)]
c_data

,Unnamed: 0,ID1,ID2,attempted,expected,observed,Concord
544,544,NWD321230,10170F,1,0,1,0.99977
546,546,NWD321230,TOE291844_203497730199_R02C01_341513,1,0,1,1.00000
547,547,NWD321230,TOE846820_203497730159_R06C01_341455,1,0,1,1.00000
555,555,10170F,NWD321230,1,0,1,0.99977
567,567,TOE291844_203497730199_R02C01_341513,NWD321230,1,0,1,1.00000
...,...,...,...,...,...,...,...
158019,158019,NWD993624,S-001613494_accepted_hits.sorted.bam,1,0,1,0.24040
158020,158020,17694W,NWD993624,1,0,1,0.99977
158024,158024,TOE137422_203991530017_R05C01_376150,NWD993624,1,0,1,1.00000
158028,158028,TOE590046_203991530017_R06C01_376151,NWD993624,1,0,1,1.00000
158032,158032,S-001613494_accepted_hits.sorted.bam,NWD993624,1,0,1,0.24040

In [37]:
bad_matches_with_c_data = cross_subject_matches.merge(c_data, left_on='SampleLabel', right_on='ID1')
bad_matches_with_c_data = bad_matches_with_c_data[~bad_matches_with_c_data['ID2'].str.startswith('S-')]
bad_matches_with_c_data = bad_matches_with_c_data[~bad_matches_with_c_data['ID2'].str.startswith('TOE')]
bad_matches_with_c_data.drop(columns=['S_SUBJECTID_participant', 'c_group_participant'], inplace=True)
bad_matches_with_c_data.to_csv('tmp/freeze.8_cross_subject_matches.csv', index=False, columns=['SampleAlias', 'ExpectedGender', 'ObservedGender', 'group_id', 'N', 'ALIASID', 'ID2', 'Concord', 'flags'])
bad_matches_with_c_data[['SampleAlias', 'ExpectedGender', 'ObservedGender', 'group_id', 'N', 'ALIASID', 'ID2', 'Concord', 'flags']].sort_values(['N', 'group_id'])

,SampleAlias,ExpectedGender,ObservedGender,group_id,N,ALIASID,ID2,Concord,flags
181,NWD593699,F,M,36.0,2.0,10130T,15651U,0.99985,cross_subject_match;gender_mismatch;unexpected...
262,NWD856186,M,F,36.0,2.0,15651U,10130T,0.99985,cross_subject_match;gender_mismatch;unexpected...
118,NWD321230,M,M,50.0,2.0,14391P,10170F,0.99977,;cross_subject_match;unexpected_geno_nomatch
126,NWD333646,M,M,115.0,2.0,13867H,10411B,1.00000,;cross_subject_match;unexpected_geno_nomatch
257,NWD849216,M,M,115.0,2.0,10411B,13867H,0.99992,;cross_subject_match;unexpected_geno_nomatch
226,NWD730283,F,F,239.0,2.0,10947Q,14555T,0.99985,;cross_subject_match;unexpected_geno_nomatch
239,NWD769059,F,F,239.0,2.0,14555T,10947Q,0.99985,;cross_subject_match;unexpected_geno_nomatch
69,NWD174186,F,F,295.0,2.0,11176W,12148W,0.99992,;cross_subject_match;unexpected_geno_nomatch
177,NWD550988,M,M,346.0,2.0,11505P,10367Y,0.99985,;cross_subject_match;unexpected_geno_nomatch
215,NWD694925,M,M,346.0,2.0,10367Y,11505P,0.99985,;cross_subject_match;unexpected_geno_nomatch
141,NWD396919,M,M,405.0,2.0,11746L,25076S,0.99977,;cross_subject_match;unexpected_geno_nomatch
84,NWD215983,M,M,897.0,2.0,16012R,16098B,0.99992,;cross_subject_match;unexpected_geno_nomatch
223,NWD723293,M,M,897.0,2.0,16098B,16012R,0.99992,;cross_subject_match;unexpected_geno_nomatch
131,NWD364495,F,F,1223.0,2.0,12134L,12292D,0.99985,;cross_subject_match;unexpected_geno_nomatch
147,NWD422817,F,F,1223.0,2.0,12292D,12134L,0.99985,;cross_subject_match;unexpected_geno_nomatch
104,NWD277777,F,F,1240.0,2.0,13626L,15140V,0.99992,;cross_subject_match;unexpected_geno_nomatch
20,NWD626460,F,F,1243.0,2.0,14564U,15947P,0.99962,;cross_subject_match;unexpected_geno_nomatch
101,NWD267258,F,U,1243.0,2.0,15947P,14564U,0.99985,cross_subject_match;observed_gender_indetermin...
57,NWD147751,F,F,2683.0,2.0,16964U,13415Y,0.99985,;cross_subject_match;unexpected_geno_nomatch
140,NWD392974,F,F,2683.0,2.0,13415Y,16964U,0.99901,;cross_subject_match;unexpected_geno_nomatch
48,NWD100991,F,U,2806.0,2.0,12676V,15220T,0.99985,cross_subject_match;observed_gender_indetermin...
157,NWD492072,M,M,3177.0,2.0,12514V,17005Z,1.00000,;cross_subject_match;unexpected_geno_nomatch
152,NWD457389,F,F,3600.0,2.0,21155U,15617U,0.99985,;cross_subject_match;unexpected_geno_nomatch
272,NWD912312,F,F,3600.0,2.0,15617U,21155U,0.99985,;cross_subject_match;unexpected_geno_nomatch
63,NWD171175,M,M,4485.0,2.0,101 V2,13987R,1.00000,;cross_subject_match
138,NWD380642,M,M,4576.0,2.0,15286X,16551V,1.00000,;cross_subject_match;unexpected_geno_nomatch
201,NWD657022,M,M,4576.0,2.0,16551V,15286X,0.99992,;cross_subject_match;unexpected_geno_nomatch
50,NWD108023,F,M,5508.0,2.0,22515D,16592J,0.99992,cross_subject_match;gender_mismatch;unexpected...
217,NWD697406,M,M,6074.0,2.0,25994E,13874E,0.99977,;cross_subject_match;unexpected_geno_nomatch
45,NWD101684,F,M,412.0,34.0,14667E,13469V,0.99977,cross_subject_match;gender_mismatch;unexpected...
52,NWD120907,F,M,412.0,34.0,21799M,21886H,0.99992,cross_subject_match;gender_mismatch;unexpected...
74,NWD193052,M,M,412.0,34.0,13469V,21579Y,0.99985,;cross_subject_match;unexpected_geno_nomatch
78,NWD213055,M,F,412.0,34.0,14066E,14667E,0.99977,cross_subject_match;gender_mismatch;unexpected...
82,NWD211470,F,F,412.0,34.0,22030F,21892C,0.99970,;cross_subject_match;unexpected_geno_nomatch
88,NWD230565,F,F,412.0,34.0,22297T,22681U,0.99992,;cross_subject_match;unexpected_geno_nomatch
109,NWD299859,M,F,412.0,34.0,21768B,11157S,1.00000,cross_subject_match;gender_mismatch;unexpected...
112,NWD317221,F,M,412.0,34.0,13176G,14066E,0.99992,cross_subject_match;gender_mismatch;unexpected...
122,NWD325038,F,F,412.0,34.0,20016B,22685C,1.00000,;cross_subject_match;unexpected_geno_nomatch
162,NWD494541,M,M,412.0,34.0,23508L,22637R,0.99992,;cross_subject_match;unexpected_geno_nomatch
164,NWD506449,F,F,412.0,34.0,21319Y,22437J,0.99977,;cross_subject_match;unexpected_geno_nomatch
168,NWD515664,F,M,412.0,34.0,18250R,21768B,0.99977,cross_subject_match;gender_mismatch;unexpected...
172,NWD535939,M,F,412.0,34.0,21579Y,19957M,1.00000,cross_subject_match;gender_mismatch;unexpected...
184,NWD597513,F,F,412.0,34.0,21892C,20016B,0.99977,;cross_subject_match;unexpected_geno_nomatch
188,NWD606283,F,F,412.0,34.0,16000K,18250R,0.99992,;cross_subject_match;unexpected_geno_nomatch
194,NWD622936,M,M,412.0,34.0,22527K,23564V,1.00000,;cross_subject_match;unexpected_geno_nomatch
210,NWD667898,F,M,412.0,34.0,21924P,23508L,1.00000,cross_subject_match;gender_mismatch;unexpected...
227,NWD729844,F,F,412.0,34.0,22437J,21799M,0.99977,;cross_subject_match;unexpected_geno_nomatch
235,NWD743688,F,F,412.0,34.0,14022K,16000K,0.99992,;cross_subject_match;unexpected_geno_nomatch
240,NWD777192,F,U,412.0,34.0,13046T,22297T,0.99977,cross_subject_match;observed_gender_indetermin...
244,NWD796202,M,F,412.0,34.0,22637R,14022K,0.99992,cross_subject_match;gender_mismatch;unexpected...
253,NWD811846,M,F,412.0,34.0,21886H,21688D,0.99992,cross_subject_match;gender_mismatch;unexpected...
274,NWD914813,M,F,412.0,34.0,23564V,21924P,1.00000,cross_subject_match;gender_mismatch;unexpected...
280,NWD928094,F,F,412.0,34.0,22405W,22030F,0.99985,;cross_subject_match;unexpected_geno_nomatch
284,NWD930878,F,M,412.0,34.0,21494Q,22527K,1.00000,cross_subject_match;gender_mismatch;unexpected...
288,NWD946987,F,F,412.0,34.0,22685C,21494Q,0.99970,;cross_subject_match;unexpected_geno_nomatch
299,NWD985616,F,F,412.0,34.0,11157S,14159L,0.99985,;cross_subject_match;unexpected_geno_nomatch

## Review Based on Group Sizes

In [9]:
f8_annotated[f8_annotated['N'] > 1].groupby(['N', 'C']).size()

N     C
2.0   1.0      12
      2.0     119
      3.0      30
      4.0       6
      5.0       1
3.0   3.0      19
      4.0       3
4.0   3.0       4
      4.0      12
      5.0       4
5.0   6.0       4
6.0   6.0      12
8.0   8.0       8
9.0   9.0       9
11.0  11.0     22
16.0  18.0      7
34.0  37.0     28
dtype: int64

In [10]:
f8_annotated[f8_annotated['N'] > 1]

,Unnamed: 0_x,sid,nwd_id,Unnamed: 0_y,Unnamed: 0.1,SampleLabel,S_SAMPLEID_manifest,SampleAlias,SampleTypeCode,dataset_id,...,c_group,action_overridden,status,action_overridden.1,action,S_SUBJECTID_participant,S,N,c_group_participant,C
14,15,22276L,NWD103119,46.0,46.0,NWD103119,NaN,NWD103119,w,0.0,...,46.0,keep,NaN,NaN,NaN,['ST-01006876' 'ST-00074904'],10.0,2.0,[ 46 8112],2.0
75,76,10137H,NWD122330,293.0,293.0,NWD122330,NaN,NWD122330,w,0.0,...,293.0,keep,NaN,NaN,NaN,['ST-00075665' 'ST-00075025' 'ST-00075027' 'ST...,29.0,6.0,[ 293 927 1579 5162 6090 7527],6.0
88,89,21503R,NWD122335,294.0,294.0,NWD122335,NaN,NWD122335,w,0.0,...,294.0,keep,NaN,NaN,NaN,['ST-00074320' 'ST-01003072' 'ST-00074673' 'ST...,18.0,4.0,[ 294 3794 3819 4359],4.0
272,273,20091P,NWD174689,920.0,920.0,NWD174689,NaN,NWD174689,w,0.0,...,920.0,keep,NaN,NaN,NaN,['ST-00077944' 'ST-00075017' 'ST-00079254' 'ST...,39.0,8.0,[ 920 1889 3119 4517 5680 6816 8411 9815],8.0
299,300,23234A,NWD182219,1007.0,1007.0,NWD182219,NaN,NWD182219,w,0.0,...,1007.0,keep,NaN,NaN,NaN,['ST-01007794' 'ST-01007196'],6.0,2.0,[1007 3299],2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9631,9632,11724B,NWD985933,10564.0,10564.0,NWD985933,NaN,NWD985933,w,0.0,...,10564.0,keep,NaN,NaN,NaN,['ST-00007814' 'ST-00007802'],10.0,2.0,[ 533 10564 33699 34639],4.0
9636,9637,14159L,NWD985616,10560.0,10560.0,NWD985616,NaN,NWD985616,w,0.0,...,2229.0,keep,NaN,drop,NaN,['ST-00037405' 'ST-00080137' 'ST-00073520' 'ST...,154.0,34.0,[ 24 25 127 128 263 264 640 6...,37.0
9655,9656,21558Q,NWD982729,10527.0,10527.0,NWD982729,NaN,NWD982729,w,0.0,...,10527.0,keep,NaN,NaN,NaN,['ST-00038049' 'ST-01024276'],7.0,2.0,[10527],1.0
9726,9727,16699B,NWD997091,10693.0,10693.0,NWD997091,NaN,NWD997091,w,0.0,...,10693.0,keep,NaN,NaN,NaN,['ST-00036759' 'ST-00078674' 'ST-00076000' 'ST...,54.0,11.0,[ 480 1284 1882 1914 2697 3895 6093 66...,11.0
9731,9732,18665U,NWD992598,10646.0,10646.0,NWD992598,NaN,NWD992598,w,0.0,...,10646.0,keep,NaN,NaN,NaN,['ST-00075188' 'ST-00032654'],9.0,2.0,[ 9506 10646],2.0

In [11]:
f8_annotated[f8_annotated['flags'] == "['gender_mismatch']"].groupby('group_id').size()

Series([], dtype: int64)

In [12]:
sex_mismatches = f8_annotated[(f8_annotated['flags'] == "['gender_mismatch']") & (f8_annotated['group_id'] != 412)]
sex_mismatches

Empty DataFrame
Columns: [Unnamed: 0_x, sid, nwd_id, Unnamed: 0_y, Unnamed: 0.1, SampleLabel, S_SAMPLEID_manifest, SampleAlias, SampleTypeCode, dataset_id, is_reference, S_SUBJECTID, S_SAMPLEID, S_SUBJECTID_sample, S_STUDYID, ALIASTYPE, ALIASID, s_sampleid, sampledesc, sampletypeid_x, batchid, samplefamilyid, activeflag_x, s_samplefamilyid, samplefamilydesc, initialpackageid, initialdepartmentid, sstudyid, studysiteid, collectiondt, collectmethodid, verifiedby, verifieddt, approvedby, approveddt, recieveddt, cocflag, restrictionsflag, age, ageunits, restrictclassid, subjectid, externalsubject, animal, diseaseid, tissueid, metastasisid, clinicaldiagid, conditionalapprovalreason, conditionalapprovalflag, clinicalevent, initialmass, initialmassunits, initialvolume, initialvolumeunits, deviationdesc, notes, auditsequence, tracelogid, usersequence, templateflag, createdt, createby, createtool, moddt, modby, modtool, participantid, participanteventid, kittrackitem, clinicalprotocolid, clinicalprotocolversionid, clinicalprotocolrevision, eventdefid, activeflag_y, sampletypeid_y, specimendefid, u_collectionid, u_visitname, u_timepointname, u_initsampletypeid, u_inittreatmenttypeid, u_initcontainertypeid, u_initenvironmentid, u_specimentypeid, u_collectiontypid, u_legacyfamilyid, u_packageid, ExpectedGender, ObservedGender, flags, group_id, c_group, action_overridden, status, action_overridden.1, action, S_SUBJECTID_participant, S, N, ...]
Index: []

[0 rows x 102 columns]