In [5]:
import os
import pandas as pd

WORKDIR = '/proj/regeps/regep00/studies/TopMed/data/dna/whole_genome/TopMed/data/freezes/freeze.10.cdnm'
SK38MC_MANIFEST_PATH = 'code/COPD_lost_samples/SK-38MC_NS Controls_NWD.xlsx'
UNASSIGNED_PATH = 'code/COPD_lost_samples/output/remain_unassigned.txt'
FULL_UPDATED_012419 = 'code/COPD_lost_samples/metadata/COPD WGS Subject List_FULL_Updated 012419.xlsx'
MISSING_170726 = 'code/COPD_lost_samples/metadata/TopMed_Sample_Status_170726-missing (1).csv'
os.chdir(WORKDIR)

In [6]:
sk38 = pd.read_excel(SK38MC_MANIFEST_PATH)
sk38

/udd/rejpz/.conda/envs/cdnm-jupyter-python-3.7.6/lib/python3.9/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Well,Sample ID,Alias,Alias.1,Gender,Volume,Concentration,Alias.2,Sample Type,RIN Number,Collected After 01/25/2015,dbgap_id
0,Position,NaN,Collaborator Participant ID,Collaborator Sample ID,NaN,ul,ng/ul,Collaborator Sample ID_2,NaN,NaN,NaN,NaN
1,A01,SM-GR3E6,ST-01024580,NWD150387,F,50,100.4,S-001663656,DNA,NaN,Yes,COPDGene_P53202
2,A02,SM-GR3E7,ST-01024581,NWD713125,M,50,137.5,S-001663658,DNA,NaN,Yes,COPDGene_S52186
3,A03,SM-GR3E8,ST-01024582,NWD761274,M,50,135.4,S-001663659,DNA,NaN,Yes,COPDGene_X94103
4,A04,SM-GR3E9,ST-01024583,NWD966578,F,50,103.5,S-001663660,DNA,NaN,Yes,COPDGene_Q21012
...,...,...,...,...,...,...,...,...,...,...,...,...
92,H08,,EMPTY,,,,,,,,,
93,H09,,EMPTY,,,,,,,,,
94,H10,,EMPTY,,,,,,,,,
95,H11,,EMPTY,,,,,,,,,
96,H12,,EMPTY,,,,,,,,,

In [7]:
unassigned = pd.read_csv(UNASSIGNED_PATH, names=('NWDID',))
unassigned

        NWDID
0   NWD108665
1   NWD119441
2   NWD150387
3   NWD161012
4   NWD179541
5   NWD239106
6   NWD253295
7   NWD254946
8   NWD305994
9   NWD315791
10  NWD392474
11  NWD398975
12  NWD409351
13  NWD416977
14  NWD453138
15  NWD494724
16  NWD498164
17  NWD521096
18  NWD524506
19  NWD586262
20  NWD699581
21  NWD713125
22  NWD736836
23  NWD749897
24  NWD751648
25  NWD761274
26  NWD785665
27  NWD814777
28  NWD821260
29  NWD844749
30  NWD849160
31  NWD867164
32  NWD878034
33  NWD880112
34  NWD966578
35  NWD969023
36  NWD983298

In [8]:
unassigned_from_sk38 = unassigned.merge(sk38, how='left', left_on='NWDID', right_on='Alias.1')
assigned_to_study = unassigned_from_sk38[unassigned_from_sk38['Alias.1'].notnull()]
assigned_to_study.to_csv('code/COPD_lost_samples/output/assigned_from_sk38.txt', index=False, columns=('NWDID',))
assigned_to_study

,NWDID,Well,Sample ID,Alias,Alias.1,Gender,Volume,Concentration,Alias.2,Sample Type,RIN Number,Collected After 01/25/2015,dbgap_id
0,NWD108665,A06,SM-GR3EB,ST-01023692,NWD108665,F,50,68.84,S-001663762,DNA,NaN,Yes,COPDGene_T40071
2,NWD150387,A01,SM-GR3E6,ST-01024580,NWD150387,F,50,100.4,S-001663656,DNA,NaN,Yes,COPDGene_P53202
3,NWD161012,A07,SM-GR3EC,ST-01023691,NWD161012,F,50,106.6,S-001663763,DNA,NaN,Yes,COPDGene_Q21711
4,NWD179541,C03,SM-GR3EW,ST-01024869,NWD179541,M,50,181.8,S-001664017,DNA,NaN,Yes,COPDGene_S77314
5,NWD239106,B04,SM-GR3EL,ST-01020124,NWD239106,F,50,106.8,S-001663888,DNA,NaN,Yes,COPDGene_Q48325
6,NWD253295,B05,SM-GR3EM,ST-01024862,NWD253295,F,50,70.87,S-001663889,DNA,NaN,Yes,COPDGene_E46286
7,NWD254946,B10,SM-GR3ER,ST-01024867,NWD254946,M,50,88.05,S-001664012,DNA,NaN,Yes,COPDGene_L80628
9,NWD315791,B01,SM-GR3EI,ST-01019993,NWD315791,M,50,140.2,S-001663769,DNA,NaN,Yes,COPDGene_H90898
10,NWD392474,C01,SM-GR3EU,ST-01024872,NWD392474,M,50,107,S-001664015,DNA,NaN,Yes,COPDGene_R63093
11,NWD398975,A12,SM-GR3EH,ST-01023683,NWD398975,M,50,63.52,S-001663768,DNA,NaN,Yes,COPDGene_P68198
12,NWD409351,A05,SM-GR3EA,ST-01024584,NWD409351,F,50,118.2,S-001663661,DNA,NaN,Yes,COPDGene_U31766
15,NWD494724,A08,SM-GR3ED,ST-01023690,NWD494724,M,50,104.2,S-001663764,DNA,NaN,Yes,COPDGene_L81101
16,NWD498164,A10,SM-GR3EF,ST-01023687,NWD498164,M,50,176.3,S-001663766,DNA,NaN,Yes,COPDGene_N55938
17,NWD521096,C05,SM-GR3EY,ST-01024861,NWD521096,M,50,149.4,S-001664019,DNA,NaN,Yes,COPDGene_R15620
19,NWD586262,A11,SM-GR3EG,ST-01023686,NWD586262,M,50,58.72,S-001663767,DNA,NaN,Yes,COPDGene_M33347
20,NWD699581,A09,SM-GR3EE,ST-01023688,NWD699581,F,50,90.72,S-001663765,DNA,NaN,Yes,COPDGene_A95689
21,NWD713125,A02,SM-GR3E7,ST-01024581,NWD713125,M,50,137.5,S-001663658,DNA,NaN,Yes,COPDGene_S52186
23,NWD749897,B07,SM-GR3EO,ST-01023685,NWD749897,M,50,111.9,S-001663891,DNA,NaN,Yes,COPDGene_H57371
24,NWD751648,C02,SM-GR3EV,ST-01024874,NWD751648,M,50,156.7,S-001664016,DNA,NaN,Yes,COPDGene_V74422
25,NWD761274,A03,SM-GR3E8,ST-01024582,NWD761274,M,50,135.4,S-001663659,DNA,NaN,Yes,COPDGene_X94103
26,NWD785665,B09,SM-GR3EQ,ST-01024878,NWD785665,M,50,109.3,S-001663893,DNA,NaN,Yes,COPDGene_C47303
27,NWD814777,C04,SM-GR3EX,ST-01024865,NWD814777,M,50,79.06,S-001664018,DNA,NaN,Yes,COPDGene_M39080
29,NWD844749,B06,SM-GR3EN,ST-01024866,NWD844749,M,50,137.1,S-001663890,DNA,NaN,Yes,COPDGene_D16864
31,NWD867164,B03,SM-GR3EK,ST-01016355,NWD867164,M,50,69.71,S-001663887,DNA,NaN,Yes,COPDGene_B67425
33,NWD880112,B08,SM-GR3EP,ST-01024877,NWD880112,F,50,112.9,S-001663892,DNA,NaN,Yes,COPDGene_B68504
34,NWD966578,A04,SM-GR3E9,ST-01024583,NWD966578,F,50,103.5,S-001663660,DNA,NaN,Yes,COPDGene_Q21012
35,NWD969023,B11,SM-GR3ES,ST-01024876,NWD969023,M,50,155.3,S-001664013,DNA,NaN,Yes,COPDGene_B56886
36,NWD983298,B02,SM-GR3EJ,ST-01019994,NWD983298,M,50,108,S-001663886,DNA,NaN,Yes,COPDGene_W75790

In [9]:
unassigned_after_sk38 = unassigned_from_sk38[unassigned_from_sk38['Alias.1'].isnull()]
unassigned_after_sk38.to_csv('code/COPD_lost_samples/output/unassigned_after_sk38.txt', index=False, columns=("NWDID",))
unassigned_after_sk38

,NWDID,Well,Sample ID,Alias,Alias.1,Gender,Volume,Concentration,Alias.2,Sample Type,RIN Number,Collected After 01/25/2015,dbgap_id
1,NWD119441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NWD305994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NWD416977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NWD453138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NWD524506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NWD736836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NWD821260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NWD849160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NWD878034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
full_updated = pd.read_excel(FULL_UPDATED_012419)
full_updated

,2D Barcode,NWD ID,SUBJECT,SAMPLE ID,dbGap ID,PLATE,PLATE No.,WELL,FAIL?
0,SM-B38IF,NWD673092,ST-00078386,S-001173909,COPDGene_J22583,SK-2NGX,1,A01,NaN
1,SM-B38IG,NWD855394,ST-01003037,S-001047019,COPDGene_C26551,SK-2NGX,1,A02,NaN
2,SM-B38IH,NWD399418,ST-01003465,S-001174120,COPDGene_K77220,SK-2NGX,1,A03,NaN
3,SM-B38II,NWD834485,ST-01002846,S-001022545,COPDGene_M96878,SK-2NGX,1,A04,NaN
4,SM-B38IJ,NWD353660,ST-01003073,S-001084515,COPDGene_C64519,SK-2NGX,1,A05,NaN
...,...,...,...,...,...,...,...,...,...
8907,NaN,NWD283301,ST-01015906,S-001636169,COPDGene_Q94306,SK-3257,102,A01,NaN
8908,NaN,NWD135182,ST-01019992,S-001636172,COPDGene_S01200,SK-3257,102,B01,NaN
8909,NaN,NWD387294,ST-01024023,S-001636175,COPDGene_B76874,SK-3257,102,C01,NaN
8910,NaN,NWD520929,ST-00076576,S-001636178,COPDGene_E94506,SK-3257,102,D01,NaN
8911,NaN,NWD672447,ST-01017630,S-001636181,COPDGene_R64031,SK-3257,102,E01,NaN

In [12]:
assigned_by_full = unassigned_after_sk38.merge(full_updated, left_on='NWDID', right_on='NWD ID')
assigned_by_full

,NWDID,Well,Sample ID,Alias,Alias.1,Gender,Volume,Concentration,Alias.2,Sample Type,...,dbgap_id,2D Barcode,NWD ID,SUBJECT,SAMPLE ID,dbGap ID,PLATE,PLATE No.,WELL,FAIL?
0,NWD119441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,SM-DI7TD,NWD119441,ST-00033897,S-000545564,COPDGene_Z69548,SK-2U9C,94,B12,NaN

In [15]:
missing = pd.read_csv(MISSING_170726)
assigned_from_missing = unassigned_after_sk38.merge(missing, left_on='NWDID', right_on='NWD_ID')
assigned_from_missing

Empty DataFrame
Columns: [NWDID, Well, Sample ID, Alias, Alias.1, Gender_x, Volume, Concentration, Alias.2, Sample Type, RIN Number, Collected After 01/25/2015, dbgap_id, Individual.Name, Barcode, NWD_ID, Ethnicity, Gender_y, Race, Tissue.Name, Sample.Type, Set.Number, Alternate, Collaborator.Sample.Name, Dbgap.ID, Disease.Status, PI, Study, Sample.Status, New.NWD_ID, Genotyping.Status, Requests, GLOBALID]
Index: []

[0 rows x 33 columns]